.workGrid {
  padding-top: 24px;
  padding-bottom: 120px;
}

.workGrid__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
}

@media (max-width: 1100px) {
  .workGrid__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .workGrid {
    padding-bottom: 96px;
  }
}
